@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


header {
    font-family: 'Roboto', sans-serif;
    background-color: #aadeee;
}

footer {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #aadeee;
}