@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.legal_section {
    font-family: 'Roboto', sans-serif;
    background-color: #ffce85;
    padding-top: 3vw;
    padding-bottom: 3vw;

}

.legal_h1 {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    color: #c22121;
}

.legal_h3 {
    text-align: center;
    margin-top: 3vw;
    font-weight: bolder;
    color: #c22121;
}

.legal_para {
    color: black;
    text-align: center;
    font-weight: bold;
}
